.maintenance-form-container {
    width: 50%;
    margin: auto;
    margin-top: 1%;
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .maintenance-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .bulk-data-preview {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  
  .hist{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:green;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .hist:hover{
    background-color: rgb(25, 189, 25);
  }