
.sidebar {
    height: calc(100% - 0px); 
    width: 250px;
    position: fixed;
    top: 0px; 
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: 0.3s;
}


.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40%;
}

.sidebar ul li {
    padding: 15px 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul li a span {
    margin-left: 10px;
}

.sidebar-toggle {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.dropdown button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%; 
}
.u{
    font-size: 14px;
}
